[package]
name = "ix_rs"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[dependencies]
anyhow = "1"
blake3 = "1.8.3"
itertools = "0.14.0"
indexmap = { version = "2", features = ["rayon"] }
multi-stark = { git = "https://github.com/argumentcomputer/multi-stark.git", rev = "b3a5266309c5889b419b975abb3907fa36d7bc81" }
num-bigint = "0.4.6"
rayon = "1"
rustc-hash = "2"
tiny-keccak = { version = "2", features = ["keccak"] }
dashmap = { version = "6.1.0", features = ["rayon"] }
# Iroh dependencies
bytes = { version = "1.10.1", optional = true }
tokio = { version = "1.49.0", optional = true }
iroh = { version = "0.95", optional = true }
iroh-base = { version = "0.95", optional = true }
n0-snafu = { version = "0.2.1", optional = true }
n0-watcher = { version = "0.5", optional = true }
rand = { version = "0.9", optional = true }
tracing = { version = "0.1", optional = true }
tracing-subscriber = { version = "0.3", features = ["env-filter"], optional = true }
bincode = { version = "3.0.0", optional = true }
serde = { version = "1.0.219", features = ["derive"], optional = true }


[dev-dependencies]
quickcheck = "1.0.3"
rand = "0.9.2"
quickcheck_macros = "1.0.0"

[features]
default = []
parallel = ["multi-stark/parallel"]
net = ["bytes", "tokio", "iroh", "iroh-base", "n0-snafu", "n0-watcher", "rand", "tracing", "tracing-subscriber", "bincode", "serde" ]
