name: CI Jobs

on:
  push:
    branches: main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lean-test:
    runs-on: warp-ubuntu-latest-x64-16x
    steps:
      - uses: actions/checkout@v6
      - uses: leanprover/lean-action@v1
        with:
          build-args: "--wfail -v"
          # TODO: These should both run automatically
          test: true
          lint: true
      - name: Test Ix CLI
        run: lake test -- cli
      - name: Aiur tests
        run: lake test -- --ignored aiur aiur-hashes ixvm
      - name: Check lean.h.hash
        run: lake run check-lean-h-hash
      - name: Check Lean versions match for Ix and compiler bench
        run: diff lean-toolchain Benchmarks/Compile/lean-toolchain

  rust-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: argumentcomputer/ci-workflows
      - uses: ./.github/actions/ci-env
      - uses: actions/checkout@v6
      # Install Lean for rust-bindgen step
      - uses: leanprover/lean-action@v1
        with:
          build: false
          use-github-cache: false
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2
      - name: Check Rustfmt code style
        run: cargo fmt --all --check
      - name: Check clippy warnings
        run: cargo xclippy -D warnings
      - name: Check *everything* compiles
        run: cargo check --all-targets --all-features --workspace
      - name: Tests
        run: cargo nextest run --release --profile ci --workspace --run-ignored all
      - name: Get Rust version
        run: |
          echo "RUST_VERSION=$(awk -F '"' '/^channel/ {print $2}' rust-toolchain.toml)" | tee -a $GITHUB_ENV
      - name: Cargo-deny
        uses: EmbarkStudios/cargo-deny-action@v2
        with:
          rust-version: ${{ env.RUST_VERSION }}
