name: Benchmark Ix compiler

on:
  schedule:
    - cron: "0 0 * * *" # nightly
  push:
    branches: sb/cli
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  COMPILE_DIR: Benchmarks/Compile

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "ix"
      - uses: leanprover/lean-action@v1
        with:
          build-args: "ix --wfail -v"
          test: false

  run-compiler:
    needs: build
    strategy:
      matrix:
        bench: [InitStd, Lean, Mathlib, FLT, FC]
        include:
          - bench: FLT
            cache_pkg: flt
          - bench: FC
            cache_pkg: formal_conjectures
    runs-on: warp-ubuntu-latest-x64-32x
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "ix"
          save-if: "false"
      - name: Set cache keys
        run: |
          ROOT="lake-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('lean-toolchain') }}-${{ hashFiles('lake-manifest.json') }}"
          echo "ROOT_CACHE_PREFIX=$ROOT" | tee -a $GITHUB_ENV
      # Restore cached `ix` build from prior step
      - uses: actions/cache/restore@v4
        with:
          path: ./.lake
          key: ${{ env.ROOT_CACHE_PREFIX }}-${{ github.sha }}
          restore-keys: ${{ env.ROOT_CACHE_PREFIX }}
      - if: matrix.bench == 'FC'
        run: echo "COMPILE_DIR=${{env.COMPILE_DIR}}FC" | tee -a $GITHUB_ENV
      # Download elan and fetch mathlib cache
      - uses: leanprover/lean-action@v1
        with:
          lake-package-directory: ${{ env.COMPILE_DIR }}
          build: false
          use-github-cache: false 
      # FLT and FC take a few minutes to rebuild, so we cache the build artifacts
      - if: matrix.cache_pkg
        uses: actions/cache@v4
        with:
          path: ${{ env.COMPILE_DIR }}/.lake/packages/${{ matrix.cache_pkg }}/.lake/build
          key: ${{ matrix.cache_pkg }}-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles(format('{0}/lean-toolchain', env.COMPILE_DIR)) }}-${{ hashFiles(format('{0}/lake-manifest.json', env.COMPILE_DIR)) }}
      # Build the input library
      - run: lake build Compile${{ matrix.bench }}
        working-directory: ${{ env.COMPILE_DIR }}
      # Run the `ix` compiler over the input library
      # Allow warnings due to copyright notice in formal-conjectures
      - run: lake exe ix compile --path ${{ env.COMPILE_DIR }}/Compile${{ matrix.bench }}.lean
