name: Benchmark Ix compiler

on:
  schedule:
    - cron: "0 0 * * *" # nightly
  push:
    branches: sb/cli
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  COMPILE_DIR: Benchmarks/Compile

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "ix"
      - uses: leanprover/lean-action@v1
        with:
          build-args: "ix --wfail -v"
          test: false
      - run: echo | lake run install
      - uses: actions/cache/save@v4
        with:
          path: ~/.local/bin/ix
          key: ix-${{ github.sha }}

  run-compiler:
    needs: build
    strategy:
      matrix:
        bench: [InitStd, Lean, Mathlib, FLT] # Add FC once updated to Lean v4.26.0
        include:
          - bench: FLT
            cache_pkg: flt
          # - bench: FC
          #   cache_pkg: formal_conjectures
    runs-on: warp-ubuntu-latest-x64-32x
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache/restore@v4
        with:
          path: ~/.local/bin/ix
          key: ix-${{ github.sha }}
      - run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - if: matrix.bench == 'FC'
        run: echo "COMPILE_DIR=${{env.COMPILE_DIR}}FC" | tee -a $GITHUB_ENV
      # Download elan and fetch mathlib cache
      - uses: leanprover/lean-action@v1
        with:
          lake-package-directory: ${{ env.COMPILE_DIR }}
          build: false
          use-github-cache: false 
      # FLT and FC take a few minutes to rebuild, so we cache the build artifacts
      - if: matrix.cache_pkg
        uses: actions/cache@v4
        with:
          path: ${{ env.COMPILE_DIR }}/.lake/packages/${{ matrix.cache_pkg }}/.lake/build
          key: ${{ matrix.cache_pkg }}-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles(format('{0}/lean-toolchain', env.COMPILE_DIR)) }}-${{ hashFiles(format('{0}/lake-manifest.json', env.COMPILE_DIR)) }}
      # Build the input library
      # Allow warnings due to copyright notice in formal-conjectures
      - run: lake build Compile${{ matrix.bench }}
        working-directory: ${{ env.COMPILE_DIR }}
      # Run the `ix` compiler over the input library
      - run: ix compile --path ${{ env.COMPILE_DIR }}/Compile${{ matrix.bench }}.lean
